:root {
  --text-color: #333;
  --background-color: #f4f4f4;
}

body {
  font-family: arial;
  font-size: 18px;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  height: 130px;
  padding-top: 40px;
  background: var(--background-color);
  text-align: center;
  border-bottom: var(--text-color) 3px solid;
}

h1#heading {
  margin: 0;
  padding: 0;
}

#container {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
  overflow: auto;
}
